DJANGO_SECRET_KEY=1234
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_DEFAULT_USER_IS_ACTIVE=True
DJANGO_MAX_AUTH_ATTEMPTS=6
DJANGO_EMAIL_HOST=smtp.mail.ru
DJANGO_EMAIL_USER=webmaster@localhost