{% extends "tasks/base/my_tasks.html" %}
{% load i18n thumbnail %}

{% block title %}
  {% translate "My_image_tasks" %}
{% endblock title %}

{% block task_onclick %}
  onclick="window.location.href='{% url 'tasks:image-task-detail' task.id %}'"
{% endblock task_onclick %}

{% block task_title %}
  <a class="text-decoration-none purple-hover" href="{% url 'tasks:image-task-detail' task.id %}">{{ task.title }}</a>
{% endblock task_title %}

{% block task_content %}
  {% thumbnail task.image "70x70" crop="center" upscale=True as image %}
    <img src="{{ image.url }}" alt="{% translate 'Image' %}" width="{{ image.width }}" height="{{ image.height }}">
  {% endthumbnail %}
{% endblock task_content %}

{% block no_tasks %}
  {% translate "No_image_tasks" %}
{% endblock no_tasks %}
