{% extends "tasks/base/task_detail.html" %}
{% load thumbnail %}
{% load i18n %}

{% block title %}
  {{ task.title }}
{% endblock title %}

{% block task_content %}
  <img src="{{ task.image.url }}" alt="{% translate 'Image_of_task' %}" width="460">
{% endblock task_content %}

{% block view_details %}
  <a class="text-decoration-none purple-hover" href="{% url 'tasks:image-check-detail' check.id %}">{% translate "View_details" %}</a>
{% endblock view_details %}

{% block back_to_user_tasks %}
  <a class="text-decoration-none purple-hover" href="{% url 'tasks:user-image-tasks' %}">{% translate "Back_to_user_tasks" %}</a>
{% endblock back_to_user_tasks %}