{% extends 'tasks/base/check_perform.html' %}
{% load i18n %}

{% block task %}
  <div class="card text-start my-3 p-3 mx-auto col-11 roboto">
    <div id="task-content-container"
         aria-label="{% translate 'Task_content' %}"
         data-original-html="{{ task.content|escapejs }}"
         data-select-label="{% translate 'Select' %}">
      {% if form.instance and form.instance.annotated_content %}
        {{ form.instance.annotated_content|safe }}
      {% else %}
        {{ task.content|safe }}
      {% endif %}
    </div>
  </div>
{% endblock task %}

{% block input %}
  <input type="hidden"
         name="highlighted_content"
         id="highlighted_content"
         value="{% if form.instance and form.instance.annotated_content %}{{ form.instance.annotated_content|escapejs }}{% else %}{{ task.content|escapejs }}{% endif %}">
{% endblock input %}
