{% extends "tasks/base/my_tasks.html" %}
{% load thumbnail i18n static %}

{% block title %}
  {% translate "my_text_tasks" %}
{% endblock title %}

{% block task_onclick %}
  onclick="window.location.href='{% url 'tasks:text-task-detail' task.id %}'"
{% endblock task_onclick %}

{% block task_title %}
  <a class="text-decoration-none purple-hover" href="{% url 'tasks:text-task-detail' task.id %}">{{ task.title }}</a>
{% endblock task_title %}

{% block task_content %}
  {{ task.content|safe|truncatechars_html:25 }}
{% endblock task_content %}

{% block no_tasks %}
  {% translate "no_text_tasks" %}
{% endblock no_tasks %}
