{% extends "tasks/base/user_checks.html" %}
{% load thumbnail %}
{% load i18n %}

{% block title %}
  {% translate "my_image_checks" %}
{% endblock title %}

{% block task_content %}
  {{ task.content|truncatechars:5 }}
{% endblock task_content %}

{% block available_task_title %}
  <a class="text-decoration-none purple-hover" href="{% url 'tasks:text-check-perform' task.id %}">
    {% translate "check_task" %}
  </a>
{% endblock available_task_title %}
{% block completed_task_title %}
  <a class="text-decoration-none purple-hover" href="{% url 'tasks:text-check-perform' task.id %}">{{ task.title }}</a>
{% endblock completed_task_title %}

{% block no_tasks %}
  {% translate "no_text_tasks" %}
{% endblock no_tasks %}

{% block no_checks %}
  {% translate "no_text_checks" %}
{% endblock no_checks %}