.ck.ck-editor {
    color: black !important;
    background-color: white !important;
}

.ck.ck-editor h1,
.ck.ck-editor h2,
.ck.ck-editor h3,
.ck.ck-editor h4,
.ck.ck-editor h5,
.ck.ck-editor h6 {
     color: white !important;
}