.watermark {
  font-size: clamp(36px, 8vw, 120px);
  color: gray;
  letter-spacing: 8px;
  pointer-events: none;
  user-select: none;
  opacity: 30%;
}

.logo-img {
  float: left;
  margin-right: 10px;
}
.logo-head {
  letter-spacing:1px;
}
@media (min-width: 576px) {
  .border-sm-start { border-left: 1px solid #495057; }
  .ps-sm-3 { padding-left: 1rem !important; }
}
