#miniTabsIndicator {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -6px;
    height: 6px;
    pointer-events: none;
    display: block;
    z-index: 1;
}


#miniTabsIndicator>div {
    position: absolute;
    left: 0;
    top: 50%;
    transform-origin: left center;
    transform: translateX(0) translateY(-50%);
    height: 4px;
    width: 0;
    background: linear-gradient(90deg, #712cf9, #431081);
    border-radius: 4px;
    transition: transform .18s cubic-bezier(.2, .9, .2, 1), width .18s cubic-bezier(.2, .9, .2, 1), opacity .12s;
    will-change: transform, width;
    opacity: 1;
    z-index: 1;
}