{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {% translate "Create_task" %}
  {% comment %} Create task {% endcomment %}
{% endblock title %}

{% block content %}
  <h1>{% translate Create_new_task %}</h1>
  {% comment %} <h1>Create new task</h1> {% endcomment %}

  {% if messages %}
    {% for message in messages %}<p>{{ message }}</p>{% endfor %}
  {% endif %}

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% translate "Create_task" %}</button>
    {% comment %} <button type="submit">Create task</button> {% endcomment %}
  </form>
{% endblock content %}
