{% extends "base_form.html" %}
{% load static %}
{% load i18n %}

{% block title %}
  {% translate "password_reset" %}
{% endblock title %}

{% block form-action %}
  action="{% url 'auth:reset-password' %}"
{% endblock form-action %}

{% block image %}
  <img class="mb-2" src="{% static 'img/logo.png' %}" alt="" width="72" height="72">
{% endblock image %}
{% block head %}
  {% translate "password_reset" %}
{% endblock head %}

{% block buttons %}
  <div class="d-flex flex-column gap-2 mt-3 align-items-center justify-content-center ">
    <button type="submit" class="btn btn-primary">{% translate "Further" %}</button>
  </div>
{% endblock buttons %}
