{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
  {% translate "password_reset_title" %}
{% endblock title %}

{% block content %}
  {% if validlink %}
    <div class="col-md-6 col-12 mx-auto mt-2">
      <form method="post" enctype="multipart/form-data" class="card py-3">
        {% csrf_token %}
        <div class="text-center mb-3">
          <img class="mb-2" src="{% static 'img/logo.png' %}" alt="" width="72" height="72">
          <h3>{% translate "password_reset_head" %}</h3>
        </div>
        <div class="d-flex flex-column align-items-center">{% include "includes/forms/fields.html" %}</div>
        <div class="d-flex flex-column gap-2 mt-3 align-items-center justify-content-center ">
          <button type="submit" class="btn btn-primary btn-lg">{% translate "Login" %}</button>
        </div>
      </form>
    </div>
  {% else %}
    <p>{% translate "invalid_link_on_password_reset" %}</p>
  {% endif %}
{% endblock content %}
