{% extends "form.html" %}
{% load static %}
{% load i18n %}

{% block title %}
  {% translate "password_change" %}
{% endblock title %}

{% block form-action %}
  action="{% url 'users:change-password' %}"
{% endblock form-action %}

{% block image %}
  <img class="mb-2" src="{% static 'img/logo.png' %}" alt="" width="72" height="72">
{% endblock image %}
{% block head %}
  {% translate "password_change" %}
{% endblock head %}

{% block buttons %}
  <div class="d-flex flex-column gap-2 mt-3 align-items-center justify-content-center ">
    <button type="submit" class="btn btn-primary">{% translate "Change" %}</button>
  </div>
{% endblock buttons %}

{% block extra-under-form %}
  <p class="text-center mt-3 mb-0">
    <a class="purple-hover text-decoration-none" href="{% url 'users:reset-password' %}" role="button" aria-label="{% translate 'Password_recovery' %}">
      {% translate "Forgot_password" %}
    </a>
  </p>
{% endblock extra-under-form %}
