{% extends "base.html" %}
{% load i18n %}
{% block title %}
  {% translate "Password_reset" %}
{% endblock title %}
{% block content %}
  <h1>{% translate "Password_reset" %}</h1>
  {% if validlink %}
    <form method="post">
      {% csrf_token %}
      {% include "includes/errors.html" %}
      {% include "includes/fields.html" %}
      <button type="submit" class="btn btn-primary">{% translate "Reset" %}</button>
    </form>
  {% else %}
    <p>{% translate "Invalid_or_expired_activation_link" %}</p>
  {% endif %}
{% endblock content %}
