{% extends "form.html" %}
{% load static %}
{% load i18n %}

{% block title %}
  {% translate "Signup" %}
{% endblock title %}

{% block image %}
  <img class="mb-2" src="{% static 'img/logo.png' %}" alt="" width="72" height="72">
{% endblock image %}
{% block head %}
  {% translate "Signup" %}
{% endblock head %}

{% block buttons %}
  <button class="btn w-25 mx-auto mt-3 btn-primary" type="submit">{% translate "Signup" %}</button>
{% endblock buttons %}

{% block extra-under-form %}
  <p class="text-center mt-3 mb-0">You will recieve link with activation after registration</p>
  {% comment %} <p class="text-center mb-0">{% translate "receive_link_after_registration_msg" %}</p> {% endcomment %}
  <p class="text-center mt-1">
    <span>If you have account already,</span> <a class="purple-hover text-decoration-none" href="{% url 'users:login' %}">login here</a>.
    {% comment %} <span>{% translate "have_account_msg" %},</span> <a class="purple-hover text-decoration-none" href="{% url 'users:login' %}">{% translate "login_here_msg" %}</a>. {% endcomment %}
  </p>
{% endblock extra-under-form %}
