{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% load i18n %}

{% block content %}
  <h1>{% trans "Profile" %}</h1>
  {% if user_obj.avatar %}
    {% thumbnail user_obj "150x150" crop="center" upscale=True as avatar %}
      <img src="{{ avatar.url }}" alt="Avatar" width="{{ avatar.width }}" height="{{ avatar.height }}" class="rounded-circle">
    {% endthumbnail %}
  {% else %}
    <img src="{% static 'img/no_avatar.png' %}" alt="{% translate 'avatar_not_found' %}" width="150" height="150" class="rounded-circle">
  {% endif %}
  <p>
    <strong>{% trans "Username" %}:</strong> {{ user_obj.username }}
  </p>
  <p>
    <strong>{% trans "Email" %}:</strong> {{ user_obj.email }}
  </p>
  {% if request.user.email == user_obj.email %}
    <a href="{% url 'users:profile' %}">{% trans "edit_profile" %}
    {% endif %}
  </a>
{% endblock content %}
