{% extends "base.html" %}
{% load i18n %}
{% block content %}
  <h1>{% trans "Profile" %}</h1>
  {% if user.avatar %}
    <img src="{{ user.avatar.url }}" alt="{% trans 'Avatar'} {{ user.username }}" width="150" height="150">
  {% endif %}
  <p>
    <strong>{% trans "Username" %}:</strong> {{ user.username }}
  </p>
  <p>
    <strong>{% trans "Email" %}:</strong> {{ user.email }}
  </p>
  {% if request.user.email == user.email %}
    <a href="{% url 'users:profile' %}">{% trans "Edit_profile" %}
    {% endif %}
  </a>
{% endblock content %}
