{% load i18n static %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock extra_head %}

{% for hidden_field in form.hidden_fields %}{{ hidden_field }}{% endfor %}
{% for field in form %}
  {% if field.name != "remember_me" %}
    {% if field.name == "password" or field.name == "password1" or field.name == "old_password" or field.name == "new_password1" %}
      <div class="form-floating mx-auto w-75 position-relative">
        {{ field }}
        <label for="{{ field.id_for_label }}">
          {{ field.label }}
          {% if field.field.required %}<span>*</span>{% endif %}
        </label>

        <button type="button" class="btn btn-sm btn-link text-muted position-absolute password-eye">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
          </svg>
        </button>
        {% if field.name == "password1" or field.name == "new_password1" %}
          <button type="button" class="btn btn-sm btn-link text-muted position-absolute password-info" data-bs-toggle="modal" data-bs-target="#passwordInfoModal">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-info-square" viewBox="0 0 16 16">
              <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
              <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
            </svg>
          </button>
        {% endif %}
      </div>

    {% elif field.field.widget.input_type == "file" %}
      <div class="form-floating mx-auto w-75">
        <div>{{ field }}</div>
      </div>

    {% else %}
      <div class="form-floating mx-auto w-75">
        {{ field }}
        <label for="{{ field.id_for_label }}">
          {{ field.label }}
          {% if field.field.required %}<span>*</span>{% endif %}
        </label>
      </div>
    {% endif %}
  {% endif %}
{% endfor %}

<div class="modal fade" id="passwordInfoModal" tabindex="-1" aria-labelledby="passwordInfoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered py-3">
    <div class="modal-content rounded-3 shadow-sm">
      <div class="modal-body position-relative p-4">
        <button type="button" class="btn-close position-absolute top-0 end-0 m-2" data-bs-dismiss="modal" aria-label="{% translate 'Close' %}"></button>
        <ul class="fs-6 mb-0">
          <li data-rule="similar" class="mb-3">{% translate "Password_canr_be_similar_to_personal_information" %}.</li>
          {% comment %} <li data-rule="similar" class="mb-3">{% translate "Your password can’t be too similar to your other personal information." %}</li> {% endcomment %}
          <li data-rule="length" class="mb-3">{% translate "Password_must_contain_at_least_eight_characters" %}.</li>
          {% comment %} <li data-rule="length" class="mb-3">{% translate "Your password must contain at least 8 characters." %}</li> {% endcomment %}
          <li data-rule="common" class="mb-3">{% translate "Password_cant_be_commonly_used" %}.</li>
          {% comment %} <li data-rule="common" class="mb-3">{% translate "Your password can’t be a commonly used password." %}</li> {% endcomment %}
          <li data-rule="numeric">{% translate "Password_cant_be_entirely_numeric" %}</li>
          {% comment %} <li data-rule="numeric">{% translate "Your password can’t be entirely numeric." %}</li> {% endcomment %}
        </ul>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/password_toogle_eye.js'%}"></script>
<script src="{% static 'js/password_info_check.js'%}"></script>
