{% load i18n %}
{% load static %}

{% if user_form.errors %}
  <ul class="errorlist">
    {% for field in user_form %}
      {% for error in field.errors %}
        <div class="w-50 mx-auto alert alert-danger alert-dismissible fade show" role="alert">
          <span>{{ error|escape }}</span>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{% trans "Close" %}"></button>
        </div>
      {% endfor %}
    {% endfor %}
    {% for error in user_form.non_field_errors %}
      <div class="w-50 mx-auto alert alert-danger alert-dismissible fade show" role="alert">
        <span>{{ error|escape }}</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{% trans "Close" %}"></button>
      </div>
    {% endfor %}
  </ul>
{% endif %}
{% if profile_form.errors %}
  <ul class="errorlist">
    {% for field in profile_form %}
      {% for error in field.errors %}
        <div class="w-50 mx-auto alert alert-danger alert-dismissible fade show" role="alert">
          <span>{{ error|escape }}</span>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{% trans "Close" %}"></button>
        </div>
      {% endfor %}
    {% endfor %}
    {% for error in profile_form.non_field_errors %}
      <div class="w-50 mx-auto alert alert-danger alert-dismissible fade show" role="alert">
        <span>{{ error|escape }}</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{% trans "Close" %}"></button>
      </div>
    {% endfor %}
  </ul>
{% endif %}

<main class="form-signin py-3">
  <form method="post" enctype="multipart/form-data" class="mt-4">
    {% csrf_token %}

    <img src="{% if request.user.avatar %}{{ request.user.avatar.url }}{% else %}{% static 'img/no_avatar.jpg' %}{% endif %}"
         alt="{% trans 'Avatar_not_found' %}"
         width="82"
         height="82"
         class="rounded-circle" />

    <h1 class="h3 mb-3 fw-normal">{% trans "Profile" %} {{ request.user.username }}</h1>

    {% include "includes/forms/fields.html" with form=user_form %}
    {% include "includes/forms/fields.html" with form=profile_form %}
    <div class="py-3">
      <button type="submit" class="btn btn-lg btn-primary mx-1">{% trans "Save" %}</button>
    </div>
    <div class="btn-group">
      <div type="button" class="btn btn-outline-warning">
        <a class="btn" href="{% url 'users:change-password' %}">{% translate "Change_password" %}</a>
      </div>
      <div type="button" class="btn btn-outline-danger">
        <form action="{% url 'users:logout' %}" method="post" class="d-inline">
          {% csrf_token %}
          <button type="submit" class="btn">{% trans 'Logout' %}</button>
        </form>
      </div>
    </div>

  </form>
</main>
